.footer {
    margin-top: 3rem;
}

.navbar {
    border-bottom: 1px solid #eee;
}

body {
    font-family: "Asap", sans-serif;
}

.img-fluid {
    object-fit: cover;
    margin-bottom: 2rem;

    @media (min-width: $break-md) {
        height: 25rem;
        width: 20rem;
    }
}
