// Members page
.section-members {
    .member-info {
        display: flex;
        flex-direction: row;

        .text {
            margin-top: 1rem;
            margin-left: 2rem;
        }
    }

    .info-text {
        padding-top: 2rem;
        padding-right: 2rem;
        margin-bottom: 3rem;

        @media (max-width: $break-md) {
            padding-right: 0;
        }
    }

    .member-img {
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }

    .name {
        font-weight: $font-semi-bold;
        font-size: 1.25rem;
    }
}

// Image gallery
.section-image-gallery {
    img.zoom {
        width: 100%;
        height: 12.5rem;
        border-radius: 5px;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    .transition {
        transform: scale(1.2);
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-title {
        color: #000;
    }

    .modal-footer {
        display: none;
    }
}

// About us page
.section-about-text {
    p {
        @media (min-width: $break-md) {
            font-size: 1.25rem;
        }
    }
}

.section-listen {
    iframe {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

// Contact page
.section-contact-info {
    .download {
        .fa-file-excel {
            font-size: 1.25rem;
            margin-right: 0.5rem;
        }

        a {
            color: black;
            font-size: 1.25rem;
        }
    }
}
